@media screen and (max-width: 700px) {
  /* header starts here */

  .desktop {
    display: none;
  }

  .mobileview {
    /* height: 774px; */
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    background: url("./resources/header.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-actionbuttons {
    /* border: var(--bd); */
    display: flex;
    margin: 21px 30px 5px 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .hamburgermenu {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
  }
  .menu {
    height: 5px;
    width: 100%;
    /* background: white; */
    position: relative;
  }

  .menu::before {
    width: 100%;
    height: 5px;
    content: "";
    position: absolute;
    background: white;
    transform: translateY(-8px);
  }
  .menu::after {
    width: 100%;
    height: 5px;
    content: "";
    position: absolute;
    background: white;
    transform: translateY(8px);
  }

  .show .menu {
    /* display: block; */
    background: transparent;
    transform: rotate(1.5turn);
  }

  .show .menu::before {
    /* display: block; */
    background: var(--white-color);
    height: 5px;
    width: 44px;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  .show .menu::after {
    /* display: block; */
    background: var(--white-color);
    height: 5px;
    width: 44px;
    transform: rotate(-45deg);
    transition: 0.5s;
  }

  .right-div {
    width: 100%;

    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
  }

  .right-div_img {
    display: none;
  }

  .right-div_image {
    display: none;
  }

  .actionbuttons {
    display: none;
    width: 100%;
    margin-bottom: 10px;
    transform: translateY(-10px);
    text-align: left;
  }

  .actionbuttons ul {
    width: 100%;
    display: block;
    left: 0;
  }

  .actionbuttons ul li {
    background: rgba(217, 217, 217, 1);
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    font-size: 25px;
    padding: 15px 20px;
    color: rgba(112, 100, 88, 1);
  }

  .actionbuttons ul li:hover {
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.6s ease-in-out;
    color: white;
    background: transparent;
  }

  .smoothmenushow {
    display: block;
    margin-bottom: 10px;
    transform: translateY(10px);
    transition: all 0.9s ease-in;
    -webkit-transform: translateX(0);
    transform: translateX(0%);
  }

  .logo h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: left;
    color: white;
  }

  .title-description {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-description h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
  }

  .title-description h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: white;
    margin: 18px 0;
  }

  .title-description p {
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
  }

  .dropdownarrow {
    margin: 0px;
    border-color: white;
    color: white;
    margin-bottom: 170px;
  }
  /* header ends here */

  /* std starts here */
  .std {
    flex-direction: column;
    padding: 0 32px;
  }

  .std_left-div {
    width: 100%;
    margin: 48px 0;
  }

  .std_right-div {
    width: 100%;
  }

  .std-content {
    /* padding: 10px; */
    margin: 20px 0;
    padding: 0;
  }
  /* std ends here */
  /* footer section starts here */
footer{
  padding: 47px 35px;
}


  .footer-first {
    display: flex;
    flex-direction: column;
  }
  .footerstatement {
    display: flex;
    flex-direction: column;
  }

  .emailbutton {
    width: 100%;
    padding: 32px 0 24px 0;
    flex-direction: column;
  }

  .emailbutton input {
    height: 49px;
    width: 100%;
    margin-bottom: 10px;
  }

  .emailbutton button {
    height: 49px;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.30000001192092896px;
    /* margin-bottom: 54px; */
  }

  .footer-second{
    display: block;
  }

  .footer-second h1 {
    font-family: "custom-merriweather";
    color: #534b42;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    margin-bottom: 15px;
  }

  .footer-second p {
    /* font-family: Varta; */
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(112, 100, 88, 0.9);
  }
  .footer-second_img {
    padding: 16px 0;
  }

  .footer-second_img h6 {
    color: #121212;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .fsi {
    height: 220px;
    width: 100%;
    background: url("./resources/slide1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .fsi2 {
    height: 220px;
    width: 100%;
    background: url("./resources/slide2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .fsi3 {
    height: 220px;
    width: 100%;
    background: url("./resources/slide3png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .fsi4 {
    height: 220px;
    width: 100%;
    background: url("./resources/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .fsi img {
    width: 100%;
    height: 100%;
  }

  .desktop_footer-second{
    display: none;
  }

  .slideshow-container{
    display: none;
  }
  /* footer section ends here */

  /* footer-ff starts here */
.footer-ff{
  padding: 38px 22px;
}

.footer_final{
  flex-direction: column;
  align-items: center;
}

.ff1 h1{
  font-size: 45px;
}

.catalog p{
  font-size: 18px;
}

.catalog h6{
  font-size: 25px;
}

.footer_final-catalog{
  flex-direction: column;
  /* align-items: left; */
  width: 100%;
  /* justify-content: left; */
  /* text-align: left; */
}

.catalog{
  margin: 0;
  padding: 25px 0;
}

.footer-final_g{
  /* border: 2px solid tomato; */
  width: 100%;
}

.ffg-img{
  width: 100%;
  height: auto;
}

.copyritepol{
  flex-direction: column-reverse;
}

/* footer-ff ends here */
}


